@use '../../styles/'as *;

.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    // column-gap: 20px;
    justify-items: center;
    padding: 0 50px;

    &__link {
        text-decoration: none;
    }

}