@use '../../styles'as *;

.header {
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 99;

    &__left {
        display: flex;
        margin-left: 20px;

        &__menu {
            padding: 8px;
        }

        &__logo {
            width: 90px;
            height: 20px;
            padding: 9px 18px;
        }
    }

    &__right {
        display: flex;
        margin-right: 20px;

        &__stream {
            padding: 8px;
        }

        &__notifi {
            padding: 8px;
        }

        &__profile {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            padding: 8px;
        }

    }

}